@model ShareScript.Models.Patient

@{
    ViewData["Title"] = "Patient";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #patient-page {
        position: absolute;
        left: 10vw; 
    }
</style>


<div id="patient-page">
    <h1>Patient: @Model.FirstName @Model.LastName</h1>
    <div class="container-fluid">
        <div class="col">
            <p>DOB: @Model.Dob</p>
            <p>Address: @Model.Address</p>
            <p>Phone Number: @Model.PhoneNumber</p>
            <p>Prescription Amount: @Model.Prescriptions.Count</p>
        </div>
        <div class="col">
            <a role="button" class="btn btn-primary" href='@Url.Action("CreatePrescription")'>Create Prescription</a>
        </div>
        <div class="col">
            <a role="button" class="btn btn-secondary" href='@Url.Action("PrescriptionList")'>View Prescription List</a>
        </div>
    </div>
</div>
